html {
  overflow-y: scroll; }

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #6b3e26;
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: #fffbe5;
  min-width: 300px; }

article,
footer,
header,
nav {
  display: block; }

a {
  text-decoration: none;
  color: #6b3e26;
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }
  a:hover, a:focus {
    color: #be9b7b; }

h1 {
  font-size: 3em; }

h4 {
  font-size: 1em; }

h1,
h2,
h4 {
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 10px; }

hr {
  height: 0;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #be9b7b; }

hr.small {
  max-width: 150px;
  margin: 15px auto;
  border-width: 3px;
  border-color: inherit;
  border-radius: 3px; }

p {
  line-height: 1.5;
  margin: 5px 0; }

.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
  flex: 1 0 auto; }

.collapse {
  display: none; }

/* --- Pager --- */
@media only screen and (min-width: 768px) {
  .pager li a {
    padding: 15px 25px; } }

@media only screen and (min-width: 768px) {
  .pager.blog-pager {
    margin-top: 40px; } }

h4.see-also {
  margin-top: 20px; }

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none; }
  .pager.blog-pager {
    margin-top: 10px; }
  .pager li {
    display: inline; }
    .pager li > a {
      display: inline-block;
      padding: 10px 14px;
      border: 1px solid #be9b7b;
      border-radius: 15px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      border-radius: 4px;
      border: 1px solid #be9b7b;
      color: #be9b7b; }
      .pager li > a:focus, .pager li > a:hover {
        text-decoration: none;
        background-color: primary_4; }
  .pager .next > a {
    float: right; }
  .pager .previous > a {
    float: left; }
  .pager .previous > a,
  .pager .next > a {
    background-color: #fbffc0;
    color: #be9b7b; }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #4b3832;
  border: 1px solid #fbffc0;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

/* ---NavBar--- */
.topnav {
  position: fixed;
  background-color: #4b3832;
  width: 100%;
  z-index: 1090;
  transition: 0.3s;
  font-size: 14px; }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fffbe5;
  text-align: center;
  padding: 16px 12px;
  text-decoration: none;
  border-left: 0.5px solid #be9b7b;
  line-height: 30px; }

.navtitle {
  float: left; }
  .navtitle a {
    border-left: 0px;
    font-size: 50px; }
  .navtitle img {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    vertical-align: baseline; }
    .navtitle img ynavtitle {
      float: left; }
      .navtitle img ynavtitle a {
        border-left: 0px;
        font-size: 50px; }
      .navtitle img ynavtitle img {
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 4px;
        vertical-align: baseline; }
    .navtitle img .navlinks {
      float: right; }

.navlinks {
  float: right; }

/* Add an active class to highlight the current page */
.active {
  background-color: #fffbe5;
  color: #fffbe5; }

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none; }

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden; }

.dropdown-content {
  display: none;
  top: 62px;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #be9b7b;
  border-top: 0; }
  .dropdown-content a {
    margin-left: -1px;
    background-color: #fffbe5;
    float: none;
    color: #be9b7b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #be9b7b; }

.dropdown-content a:hover {
  background-color: #fffbe5;
  color: black; }

.dropdown:hover .dropdown-content {
  display: block; }

@media screen and (max-width: 600px) {
  .navlinks a,
  .dropdown .dropbtn {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; } }

@media screen and (max-width: 600px) {
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0; }
  .topnav.responsive .dropdown {
    float: none; }
  .topnav.responsive .dropdown-content {
    position: relative;
    top: 0; }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left; }
  .topnav.responsive .navlinks {
    float: none; } }

/* --- Footer --- */
footer {
  background: #4b3832;
  border-top: 1px #be9b7b solid;
  font-size: 10px;
  text-align: center;
  color: #fffbe5;
  padding: 4px; }

/* --- Post preview --- */
.post-preview {
  padding: 20px 0;
  border-bottom: 0px solid #be9b7b; }

@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 35px 0; } }

.post-read-more {
  float: right; }

.post-preview:last-child {
  border-bottom: 0; }

.post-preview a {
  text-decoration: none; }
  .post-preview a:focus, .post-preview a:hover {
    text-decoration: none;
    color: #be9b7b; }

.post-preview .post-title {
  font-size: 24px;
  margin-top: 0; }

.post-preview .post-meta {
  color: #be9b7b;
  font-size: 14px;
  font-style: italic;
  margin: 0 0 10px; }

.post-heading .post-meta {
  color: #be9b7b;
  font-size: 14px;
  font-style: italic;
  margin: 0 0 10px; }

.page-meta {
  color: #be9b7b;
  font-size: 14px;
  font-style: italic;
  margin: 0 0 10px;
  align-self: center; }

.post-entry {
  width: 100%;
  margin-top: 10px; }

/* --- Tags --- */
.blog-tags {
  color: #fffbe5;
  font-size: 15px;
  margin-bottom: 30px; }
  .blog-tags:before {
    content: "Tags: "; }
  .blog-tags a {
    color: #be9b7b;
    text-decoration: none;
    padding: 0px 5px; }
    .blog-tags a:before {
      content: "#"; }
    .blog-tags a:hover {
      border-radius: 2px;
      color: primary_3;
      background-color: #be9b7b; }

/* --- Post and page headers --- */
.header-container-img {
  margin-top: 62px;
  background: no-repeat center center;
  background-size: cover;
  min-height: 300px;
  border-top: 2px solid #fbffc0; }
  .header-container-img .header-blurb {
    color: #fbffc0;
    text-shadow: -1px 0 10px black, 0 1px 10px black, 1px 0 10px  black, 0 -1px 10px black; }

.header-blurb {
  text-align: center;
  margin: auto;
  padding: 70px 0; }

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px; }
  .header-container-img {
    min-height: 150px; }
  .header-blurb {
    padding: 46px 0; } }
