body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background: #fff;
  display: flex;
  flex-flow: column;
  height: 100vh; }

article,
footer,
header,
nav {
  display: block; }

a {
  text-decoration: none;
  color: #333a56;
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }
  a:hover, a:focus {
    color: #0085a1; }

h1 {
  font-size: 2em; }

h1,
h2,
h4 {
  font-weight: 800;
  line-height: 1.1;
  color: inherit;
  margin-bottom: 10px; }

hr {
  height: 0;
  box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px; }

p {
  line-height: 1.5;
  margin: 5px 0; }

pre {
  overflow: auto; }

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em; }

.container,
.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
  flex: 1 0 auto; }

.collapse {
  display: none; }

/* --- Pager --- */
@media only screen and (min-width: 768px) {
  .pager li a {
    padding: 15px 25px; } }

@media only screen and (min-width: 768px) {
  .pager.blog-pager {
    margin-top: 40px; } }

h4.see-also {
  margin-top: 20px; }

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none; }
  .pager.blog-pager {
    margin-top: 10px; }
  .pager li {
    display: inline; }
    .pager li > a {
      display: inline-block;
      padding: 10px 14px;
      border: 1px solid #ddd;
      border-radius: 15px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      border-radius: 4px;
      border: 1px solid #e3e3e3;
      color: #f7f5e6; }
      .pager li > a:focus, .pager li > a:hover {
        text-decoration: none;
        background-color: #eee;
        background: #494e6b; }
  .pager .next > a {
    float: right; }
  .pager .previous > a {
    float: left; }
  .pager .previous > a,
  .pager .next > a {
    background: #52658f;
    color: #f7f5e6; }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #A3B5D1;
  border: 1px solid #52658f;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

/* ---NavBar--- */
.topnav {
  background-color: #333a56;
  width: 100%;
  position: fixed;
  z-index: 1090;
  transition: 0.3s;
  font-size: 18px; }

.navtitle img {
  float: left;
  width: 26px;
  height: 26px;
  margin-right: 10px; }

.navlinks {
  float: right; }

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f7f5e6;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  border-left: 0.5px solid #52658f; }

/* Add an active class to highlight the current page */
.active {
  background-color: #e8e8e8;
  color: #A3B5D1; }

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none; }

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden; }
  .dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0; }

.dropdown-content {
  display: none;
  top: 54px;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #333a56; }
  .dropdown-content a {
    background-color: #494e6b;
    float: none;
    color: #f7f5e6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #52658f;
  color: #f7f5e6; }

.dropdown-content a:hover {
  background-color: #e8e8e8;
  color: black; }

.dropdown:hover .dropdown-content {
  display: block; }

/* ---Responsive Nav--- */
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navlinks a,
  .dropdown .dropbtn {
    display: none; }
  .topnav a.icon {
    float: right;
    display: block; } }

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative; }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left; }
      .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0; }
    .topnav.responsive .dropdown {
      float: none; }
    .topnav.responsive .dropdown-content {
      position: relative;
      top: 0; }
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left; }
    .topnav.responsive .navlinks {
      float: none; } }

/* --- Footer --- */
footer {
  background: #333a56;
  border-top: 1px #eaeaea solid;
  font-size: 12px;
  text-align: center;
  color: #f7f5e6; }
  footer a {
    color: #f7f5e6; }

/* --- Post preview --- */
.post-preview {
  padding: 20px 0;
  border-bottom: 1px solid #eee; }

@media only screen and (min-width: 768px) {
  .post-preview {
    padding: 35px 0; } }

.post-read-more {
  float: right; }

.post-preview:last-child {
  border-bottom: 0; }

.post-preview a {
  text-decoration: none;
  color: #404040; }
  .post-preview a:focus, .post-preview a:hover {
    text-decoration: none;
    color: #0085a1; }

.post-preview .post-title {
  font-size: 24px;
  margin-top: 0; }

.post-preview .post-meta {
  color: #808080;
  font-size: 14px;
  font-style: italic;
  margin: 0 0 10px; }

.post-heading .post-meta {
  color: #808080;
  font-size: 14px;
  font-style: italic;
  margin: 0 0 10px; }

.page-meta {
  color: #808080;
  font-size: 14px;
  font-style: italic;
  margin: 0 0 10px;
  align-self: center; }

.post-entry {
  width: 100%;
  margin-top: 10px; }

@media only screen and (min-width: 768px) {
  .post-preview .post-title {
    font-size: 28px; } }

/* --- Tags --- */
.blog-tags {
  color: #A3B5D1;
  font-size: 15px;
  margin-bottom: 30px; }
  .blog-tags:before {
    content: "Tags: "; }
  .blog-tags a {
    color: #A3B5D1;
    text-decoration: none;
    padding: 0px 5px; }
    .blog-tags a:before {
      content: "#"; }
    .blog-tags a:hover {
      border-radius: 2px;
      color: #008aff;
      background-color: #ccc; }

/* --- Post and page headers --- */
.intro-header {
  margin: 80px 0 20px;
  position: relative; }
  .intro-header.big-img {
    background: no-repeat center center;
    background-size: cover;
    margin-top: 51px;
    /* The small navbar is 50px tall + 1px border */
    margin-bottom: 35px; }
  .intro-header .page-heading {
    text-align: center; }
  .intro-header.big-img .post-heading {
    padding: 100px 0;
    color: #fff;
    text-shadow: 1px 1px 3px #000; }
  .intro-header .page-heading h1 {
    margin-top: 0;
    font-size: 50px; }
  .intro-header .post-heading h1 {
    margin-top: 0;
    font-size: 35px; }
  .intro-header .page-heading .page-subheading {
    font-size: 22px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0; }
  .intro-header .post-heading .post-subheading {
    font-size: 22px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
    margin-bottom: 20px; }
  .intro-header.big-img .post-heading .post-subheading {
    font-weight: 400; }
  .intro-header.big-img .post-heading .post-meta {
    color: #eee; }
  .intro-header.big-img .img-desc {
    background: rgba(30, 30, 30, 0.6);
    position: absolute;
    padding: 5px 10px;
    font-size: 11px;
    color: #eee;
    right: 0;
    bottom: 0;
    display: none; }

@media only screen and (min-width: 768px) {
  .intro-header {
    margin-top: 130px; }
    .intro-header.big-img {
      margin-top: 91px;
      /* Full navbar is small navbar + 20px padding on each side when expanded */ }
      .intro-header.big-img .post-heading {
        padding: 150px 0; }
    .intro-header .page-heading h1 {
      font-size: 60px; }
    .intro-header .post-heading h1 {
      font-size: 40px; }
    .intro-header.big-img .img-desc {
      font-size: 12px; } }

.header-section.has-img .no-img {
  margin-top: 0;
  background: #fcfcfc;
  margin: 0 0 40px;
  padding: 20px 0;
  box-shadow: 0 0 5px #aaa; }

.header-section.has-img .intro-header.no-img {
  display: none; }

/* Many phones are 320 or 360px, so make sure images are a proper aspect ratio in those cases */
@media only screen and (max-width: 365px) {
  .header-section.has-img .intro-header.no-img {
    display: block; }
  .intro-header.big-img {
    width: 100%;
    height: 220px; }
    .intro-header.big-img .post-heading {
      display: none; }
  .header-section.has-img .big-img {
    margin-bottom: 0; } }

@media only screen and (max-width: 325px) {
  .intro-header.big-img {
    height: 200px; } }
